:root {
    --background: #F5F3EF;
    --card: #FFFFFF;
    --accent: #FEBD2F;
    --primary: #000000;
    --secondary: #646464;
    --outline: #DCDCDC;
}   

body {
    background-color: var(--background);
}

h1, h2, h3 {
    font-family: 'Roboto Serif';
    color: var(--primary);
}

h1, h2 {
    font-weight: 600;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
    font-weight: 800;
}

p, a, button {
    font-family: 'Roboto';
    font-weight: 400;
}

button {
    text-decoration: none;
    border: none;
    font-weight: 500;
    color: var(--primary);
}

a {
    text-decoration: none;
    color: var(--primary);
}

p {
    color: var(--secondary);
}

/* NAV SECTION */

nav {
    margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 80px;
    margin-right: 80px;
}

nav a {
    font-size: 16px;
    font-weight: 500;
    width: 60px;
    height: 19px;
    line-height: 19px;
}

nav button {
    color: var(--card);
    background-color: var(--primary);
    border-radius: 28px;
    width: 130px;
    height: 48px;
}

nav img {
    width: 162px;
    height: 40px;
}

nav section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link-course {
    margin-right: 48px;
}

/* HEADER SECTION */

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 120px;
    margin-left: 80px;
    margin-right: 80px;
}

header img {
    width: 740px;
    height: 540px;
    border-radius: 48px;
}

header h1 {
    margin-bottom: 32px;
    line-height: 75px;
}

header p {
    font-size: 24px;
    line-height: 32px;
}

header div {
    display: flex;
    flex-direction: column;
    width: 600px;
    margin-right: 80px;
}

/* MAIN SECTION */

main {
    margin-left: 80px;
    margin-right: 80px;
}

.item-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 80px;
    margin-left: 40px;
    gap: 80px;
}

.item-type-1 {
    background-color: var(--accent);
    width: 400px;
    height: 324px;
    border-radius: 40px;
    padding: 40px;
    display: flex;
    box-shadow: 0px 2px 24px
        rgba(0, 0, 0, 0.1);
}

.item-type-1 h2 {
    line-height: 47px;
    text-align: start;
    margin-right: 40px;
}

.item-type-2 {
    background-color: var(--card);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 324px;
    border-radius: 40px;
    padding: 40px;
    justify-content: space-between;
    box-shadow: 0px 2px 24px
        rgba(0, 0, 0, 0.1);
}

.item-type-2 p {
    width: 320px;
    height: 112px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.tiny-pic {
    width: 65px;
    height: 59px;
    position: absolute;
    top: -28px; right: 50px
}

main p {
    font-size: 18px;
    font-weight: 400;
}

main button {
    font-size: 18px;
    background-color: var(--card);
    color: var(--primary);
    border: solid 1px var(--outline);
    border-radius: 50px;
    width: 143px;
    height: 48px;
}

nav button {
    font-size: 16px;
}

/* FOOTER */

footer {
    background-color: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 80px;
    width: 100%;
}